<!doctype html>
<html lang="kr" class="semi-dark">
<head th:replace="~{admin/includes/head.html}"></head>
<body>
<div id="bodyWrap">
	<!--sidebar wrapper -->
	<th:block th:insert="~{admin/includes/header.html}"/>
	<div id="sub" class="dashboard">
		<div class="sub_visual">
			<div class="sub_tit">
				<h2 th:text="${cm.title}"></h2>
			</div>
		</div>
		<!-- 본문 시작 -->
		<div class="sec_wrap common-box">

		</div>
	</div>
	<th:block th:insert="~{admin/includes/footer.html}"/>
</div>
</body>
</html>