<!doctype html>
<html lang="kr" class="semi-dark">
<head th:replace="~{admin/includes/head.html}">
<body>
<!--wrapper-->
<div id="bodyWrap">
    <th:block th:insert="~{admin/includes/header.html}"/>
    <div id="sub" class="">
        <div class="sub_visual">
            <div class="sub_tit">
                <h2>
                    <th:block th:text="${cm.title}"></th:block>
                </h2>
            </div>
        </div>
        <div class="sec_wrap">
            <div class="section section1">
                <div class="inner">
                    <div class="board">
                        <form th:action="${cm.link + '/insert'}" method="post">
                            <div class="tbl_area">
                                <div class="tbl_wrap tbl_wrap1">
                                    <div class="tit_box">
                                        <h3 class="sTit">등록정보</h3>
                                    </div>
                                    <div class="tbl_box tbl_box2">
                                        <table class="row_line">
                                            <caption>등록정보</caption>
                                            <colgroup>
                                                <col width="8.4%">
                                                <col width="41.6%">
                                                <col width="8.4%">
                                                <col width="41.6%">
                                            </colgroup>
                                            <tbody>
                                            <tr>
                                                <th>상태</th>
                                                <td colspan="3">
                                                    <div class="radio_box">
                                                        <input type="radio" name="menu_status" id="menu_status_a" value="activated" checked>
                                                        <label for="menu_status_a">활성화</label>
                                                    </div>
                                                    <div class="radio_box">
                                                        <input type="radio" name="menu_status" id="menu_status_p" value="paused">
                                                        <label for="menu_status_p">비활성화</label>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>헤더 타입</th>
                                                <td>
                                                    <select class="select_drop wid50" name="header_fk" id="header_fk">
                                                        <option value="">없음</option>
                                                        <option th:each="row:${header_types}" th:value="${row.idx}" th:text="${row.name}"></option>
                                                    </select>
                                                </td>
                                                <th>푸터 타입</th>
                                                <td>
                                                    <select class="select_drop wid50" name="footer_fk" id="footer_fk">
                                                        <option value="">없음</option>
                                                        <option th:each="row:${footer_types}" th:value="${row.idx}" th:text="${row.name}"></option>
                                                    </select>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>링크<span class="required">*</span></th>
                                                <td colspan="3">
                                                    <input type="text" name="link" id="link" class="wid40">
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>제목<span class="required">*</span></th>
                                                <td colspan="3">
                                                    <input type="text" name="title" id="title">
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>부제목</th>
                                                <td colspan="3">
                                                    <input type="text" name="subtitle" id="subtitle">
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="btnbox flex-box gap-10 justify-content-center mt30">
                                <button type="submit" class="btn main_bg btn-save">저장</button>
                                <a th:href="${cm.link}" class="btn border_bg btn-cancel">취소</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <th:block th:insert="~{admin/includes/footer.html}"/>
</div>
<script>
    const $form = $("form");
    $("input[name='menu_status']").addValidation({
        cases: {
            "활성화 상태를 선택해주세요.": (value) => !value
        }
    });
    $("#link").addValidation({
        regex: SGValidateType.PATH,
        cases: {
            "링크를 입력해주세요.": (value) => !value,
            "링크를 정확히 입력해주세요.": (value, regex) => !regex.test(value),
        }
    });
    $("#title").addValidation({
        cases: {
            "제목을 입력해주세요.": (value) => !value
        },
        maxlength: 100
    });
    $("#subtitle").addValidation({
        maxlength: 100
    });

    $form.submit(function(event) {
        event.preventDefault();

        if ($form.isValidate()) {
            SGConfirm({
                title: "페이지를 저장하시겠습니까?",
                onsuccess: (res) => {
                    if (res) {
                        SGProcess({
                            title: "페이지를 저장중입니다...",
                        });
                        this.submit();
                    }
                }
            })
        }
    });
</script>
</body>
</html>