<!doctype html>
<html lang="kr" class="semi-dark">
<head th:replace="~{admin/includes/head.html}">
<body>
<div id="bodyWrap">
    <th:block th:insert="~{admin/includes/header.html}"/>
    <!--start page wrapper -->
    <div id="sub" class="client-view-page">
        <div class="sub_visual">
            <div class="sub_tit">
                <h2>
                    <th:block th:text="${cm.title}"></th:block>
                </h2>
            </div>
        </div>
        <div class="sec_wrap lesssonpro-viewPage">
            <div class="section section1">
                <div class="inner">
                    <div class="board">
                        <div class="tbl_area">
                            <div class="tbl_wrap tbl_wrap1">
                                <div class="tit_box">
                                    <h3 class="sTit">등록정보</h3>
                                </div>
                                <div class="tbl_box tbl_box2">
                                    <table class="row_line">
                                        <caption>등록정보</caption>
                                        <colgroup>
                                            <col width="8.4%">
                                            <col width="40%">
                                            <col width="8.4%">
                                            <col width="40%">
                                        </colgroup>
                                        <tbody>
                                        <tr>
                                            <th>상태</th>
                                            <td colspan="3">
                                                <select id="status" class="select_drop wid200">
                                                    <option value="activated" th:selected="'activated' eq ${data.status}">
                                                        활성화
                                                    </option>
                                                    <option value="paused" th:selected="'paused' eq ${data.status}">비활성화
                                                    </option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>수정일</th>
                                            <td th:text="${#dates.format(data.created_at, 'yyyy-MM-dd')}"></td>
                                            <th>생성일</th>
                                            <td th:text="${#dates.format(data.created_at, 'yyyy-MM-dd')}"></td>
                                        </tr>
                                        <tr>
                                            <th>헤더 타입</th>
                                            <td th:text="${data.header_type?.name}">없음</td>
                                            <th>푸터 타입</th>
                                            <td th:text="${data.footer_type?.name}">없음</td>
                                        </tr>
                                        <tr>
                                            <th>링크</th>
                                            <td colspan="3" th:text="${data.link}"></td>
                                        </tr>
                                        <tr>
                                            <th>제목</th>
                                            <td colspan="3" th:text="${data.title}"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <form th:action="${cm.link} + '/delete'" method="post" onsubmit="return deleteCheck(this);">
                                <input type="hidden" name="idx" th:value="${data.idx}">
                                <div class="btnSet flex-box justify-content-between mt30">
                                    <button th:href="${cm.link}" class="btn-bottom border222 btn-list-delete" type="submit">삭제</button>
                                    <a th:href="${cm.link}" class="btn-bottom btn-gray-bottom">목록</a>
                                    <a th:href="${cm.link} + '/update?idx=' + ${data.idx}" class="btn-bottom btn primary">수정</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <th:block th:insert="~{admin/includes/footer.html}"/>
</div>

<script th:inline="javascript">
    const data = /*[[${data}]]*/ null;

    function deleteCheck(form) {
        SGConfirm({
            title: `회원 메뉴 항목을 삭제하시겠습니까?`,
            type: SGAlertType.WARNING,
            onsuccess: function (res) {
                if (res) form.submit();
            }
        });
        return false;
    }

    $("#status").on("change", function () {
        let value = $(this).val().trim();
        if (!Object.is(value, data.status)) {
            $.ajax({
                url: "/admin/client_page/update/status",
                data: {
                    idx: data.idx,
                    st: value
                },
                type: "POST",
                async: false,
                success: function (res) {
                    if (res) {
                        SGAlert({
                            title: "상태가 변경되었습니다.",
                            type: SGAlertType.SUCCESS,
                            onsuccess: (res) => document.location.reload()
                        });
                    } else {
                        SGAlert({
                            title: "상태가 변경되지 않았습니다.",
                            type: SGAlertType.SUCCESS,
                            onsuccess: (res) => document.location.reload()
                        });
                    }
                },
                error: function (err) {
                    console.error(err);
                }
            });
        }
    });
</script>
</body>
</html>