<!doctype html>
<html lang="kr" class="semi-dark">
<head th:replace="~{admin/includes/head.html}">
<body>
<!--wrapper-->
<div id="bodyWrap">
	<th:block th:insert="~{admin/includes/header.html}"/>
	<div id="sub" class="">
		<div class="sub_visual">
			<div class="sub_tit">
				<h2>
					<th:block th:text="${cm.title}"></th:block>
				</h2>
			</div>
		</div>
		<div class="sec_wrap common-box">
			<div class="section section1">
				<div class="inner">
					<div class="board">
						<form th:action="${cm.link + '/insert'}" method="post">
							<div class="tbl_area">
								<div class="tbl_wrap tbl_wrap1">
									<div class="tit_box">
										<h3 class="sTit">등록정보</h3>
									</div>
									<div class="tbl_box tbl_box2">
										<table class="row_line">
											<caption>등록정보</caption>
											<colgroup>
												<col width="8.7%">
												<col width="*">
											</colgroup>
											<tbody>
											<tr>
												<th><label for="status">상태</label></th>
												<td>
													<select id="status" name="faq_status" class="max200 select_drop">
														<option value="activated" selected>활성화</option>
														<option value="paused">비활성화</option>
													</select>
												</td>
											</tr>
											</tbody>
										</table>
									</div>
								</div>
								<div class="tbl_wrap tbl_wrap1">
									<div class="tit_box">
										<h3 class="sTit">등록정보</h3>
									</div>
									<div class="tbl_box tbl_box2">
										<table class="row_line">
											<caption>등록정보</caption>
											<colgroup>
												<col width="8.7%">
												<col width="*">
											</colgroup>
											<tbody>
											<tr>
												<th>문의유형<span class="required">*</span></th>
												<td>
													<th:block th:each="category : ${categories}">
														<div class="radio_box">
															<input th:value="${category.idx}" th:id="'category'+${category.idx}" type="radio" name="category">
															<label th:for="'category' + ${category.idx}" th:text="${category.name}"></label>
														</div>
													</th:block>
												</td>
											</tr>
											<tr>
												<th><label for="question">질문</label><span class="required">*</span></th>
												<td>
													<input type="text" name="question" id="question">
												</td>
											</tr>
											<tr>
												<th>
													<label for="asked">답변</label><span class="required">*</span>
												</th>
												<td>
													<textarea data-height="300px" class="editor" rows="10" id="asked" name="asked"></textarea>
												</td>
											</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
							<div class="btnSet flex-box gap-10 justify-content-center mt30">
                                        <button type="submit" class="btn main_bg btn-save">저장</button>
                                        <a th:href="${cm.link}" class="btn border111 btn-cancel">취소</a>
                                    </div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<th:block th:insert="~{admin/includes/footer.html}"/>
</div>
<script>

	$("input[name='category']").addValidation({
		cases: {
			"문의유형을 선택해주세요.": (value) => !value
		},
		focusElement: $("input[name='category']").closest("td")
	});

	/*$("#category").setValidate(form, {
		label: "문의유형",
		minLength: 1,
	});*/

	$("#question").addValidation({
		cases: {
			"질문을 입력해주세요.": (value) => !value.length
		},
		maxlength: 100,
	});

	$("#asked").addValidation({
		regex: SGValidateType.QL_EDITOR,
		cases: {
			"답변을 입력해주세요.": (value) => !value.length
		},
		maxlength: 2000,
		focusElement: $("#asked").closest("td")
	});
</script>
</body>
</html>