<!doctype html>
<html lang="kr" class="semi-dark">
<head th:replace="~{admin/includes/head.html}">
<body>
<!--wrapper-->
<div id="bodyWrap">
	<th:block th:insert="~{admin/includes/header.html}"/>
	<div id="sub" class="">
		<div class="sub_visual">
			<div class="sub_tit">
				<h2>
					<th:block th:text="${cm.title}"></th:block>
				</h2>
			</div>
		</div>
		<div class="sec_wrap common-box">
			<div class="section section1">
				<div class="inner">
					<div class="board">
						<form th:action="${cm.link + '/insert'}" method="post" enctype="multipart/form-data">
							<div class="tbl_area">
								<div class="tbl_wrap tbl_wrap1">
									<div class="tit_box">
										<h3 class="sTit">등록정보</h3>
									</div>
									<div class="tbl_box tbl_box2">
										<table class="row_line">
											<caption>등록정보</caption>
											<colgroup>
												<col width="8.4%">
												<col width="41.6%">
												<col width="8.4%">
												<col width="41.6%">
											</colgroup>
											<tbody>
											<tr>
												<th>활성화 여부<span class="required">*</span></th>
												<td>
													<div class="radio_box">
														<input type="radio" name="notice_status" id="activate_true" value="activated" checked>
														<label for="activate_true">활성화</label>
													</div>
													<div class="radio_box">
														<input type="radio" name="notice_status" id="activate_false" value="paused">
														<label for="activate_false">비활성화</label>
													</div>
												</td>
												<th>노출 설정</th>
												<td>
													<div class="check_box on_label">
														<input type="checkbox" name="is_top" id="is_top" value="1">
														<label for="is_top">탑공지</label>
													</div>
												</td>
											</tr>
											</tbody>
										</table>
									</div>
								</div>
								<div class="tbl_wrap tbl_wrap1">
									<div class="tit_box">
										<h3 class="sTit">게시글 정보</h3>
									</div>
									<div class="tbl_box tbl_box2">
										<table class="row_line">
											<caption>게시글 정보</caption>
											<colgroup>
												<col width="8.7%">
												<col width="*">
											</colgroup>
											<tbody>
											<tr>
												<th>제목<span class="required">*</span></th>
												<td>
													<input type="text" id="title" name="title">
												</td>
											</tr>
											<tr>
												<th>내용<span class="required">*</span></th>
												<td>
													<textarea data-height="300px" class="editor" rows="10" id="desc" name="desc"></textarea>
												</td>
											</tr>
											<tr>
												<th>첨부파일</th>
												<td>
													<input type="file" id="fileAttach" name="input_files">
													<p class="mt5">10Mb (doc, docx, xls, xlsx, ppt, pptx, hwp, txt, pdf, jpg, jpeg, png, gif, bmp, tif 만 파일 등록가능)</p>
												</td>
											</tr>
											<tr>
												<th>관련링크</th>
												<td>
													<input type="text" id="url" name="url">
												</td>
											</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
							<div class="btnSet flex-box gap-10 justify-content-center mt30">
                                        <button type="submit" class="btn main_bg btn-save">저장</button>
                                        <a th:href="${cm.link}" class="btn border111 btn-cancel">취소</a>
                                    </div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<th:block th:insert="~{admin/includes/footer.html}"/>
</div>
<script>

	$("#title").addValidation({
		cases: {
			"제목을 입력해주세요.": (value) => !value.length,
		},
		maxlength: 100
	});

	$("#desc").addValidation({
		regex: SGValidateType.QL_EDITOR,
		cases: {
			"내용을 입력해주세요.": (value) => !value.length,
		},
		focusElement: $("#desc").parent()
	});

	$("input[name='input_files']")
			.multifile({
				max_size: 10,
				max_length: 5,
				allows: [
					FileType.DOC,
					FileType.DOCX,
					FileType.XLS,
					FileType.XLSX,
					FileType.PPT,
					FileType.PPTX,
					FileType.HWP,
					FileType.TXT,
					FileType.PDF,
					FileType.JPG,
					FileType.JPEG,
					FileType.PNG,
				]
			})
			.addValidation({
		regex: SGValidateType.FILE,
		fileoptions: {
			types: [
				FileType.DOC,
				FileType.DOCX,
				FileType.XLS,
				FileType.XLSX,
				FileType.PPT,
				FileType.PPTX,
				FileType.HWP,
				FileType.TXT,
				FileType.PDF,
				FileType.JPG,
				FileType.JPEG,
				FileType.PNG,
			]
		}
	});

	$("#url").addValidation({
		regex: SGValidateType.URL,
		cases: {
			"관련링크를 정확히 입력해주세요.": (value, regex) => value.length && !regex.test(value),
		},
	});
</script>
</body>
</html>