<!doctype html>
<html lang="kr" class="semi-dark">
<head th:replace="~{admin/includes/head.html}">
<body>
<!--wrapper-->
<div id="bodyWrap">
	<th:block th:insert="~{admin/includes/header.html}"/>
	<div id="sub" class="">
		<div class="sub_visual">
			<div class="sub_tit">
				<h2>
					<th:block th:text="${cm.title}"></th:block>
				</h2>
			</div>
		</div>
		<div class="sec_wrap">
			<div class="section section1">
				<div class="inner">
					<div class="board">
						<form th:action="${cm.link + '/insert'}" method="post" enctype="multipart/form-data">
							<div class="tbl_area">
								<div class="tbl_wrap tbl_wrap1">
									<div class="tit_box">
										<h3 class="sTit">등록정보 <span class="txt-red fs14 fw500">*등록하고자 하는 회원권한을 선택해 주세요.</span></h3>
									</div>
									<div class="tbl_box tbl_box2">
										<table class="row_line">
											<caption>등록정보</caption>
											<colgroup>
												<col width="8.4%">
												<col width="40%">
												<col width="8.4%">
												<col width="40%">
											</colgroup>
											<tbody>
											<tr>
												<th>회원권한</th>
												<td>
													<div class="radio_box" th:each="row: ${member_authorizations}">
														<input type="radio" name="authorization_idx" th:id="'type'+${row.idx}" th:value="${row.idx}">
														<label th:for="'type'+${row.idx}" th:text="${row.name}"></label>
													</div>
												</td>
												<th>노출 설정</th>
												<td>
													<div class="check_box on_label">
														<input type="checkbox" name="is_top" id="is_top" value="1">
														<label for="is_top">탑공지</label>
													</div>
												</td>
											</tr>
											</tbody>
										</table>
									</div>
								</div>
								<div class="tbl_wrap tbl_wrap1">
									<div class="tit_box">
										<h3 class="sTit">게시글 정보</h3>
									</div>
									<div class="tbl_box tbl_box2">
										<table class="row_line">
											<caption>게시글 정보</caption>
											<colgroup>
												<col width="8.7%">
												<col width="*">
											</colgroup>
											<tbody>
											<tr>
												<th>제목<span class="required">*</span></th>
												<td>
													<input type="text" id="title" name="title">
												</td>
											</tr>
											<tr>
												<th>내용<span class="required">*</span></th>
												<td>
													<textarea data-height="300px" class="editor" rows="10" id="desc" name="desc"></textarea>
												</td>
											</tr>
											<tr>
												<th>첨부파일</th>
												<td>
													<div class="multiple-file-attach">
														<div class="file-select-box">
															<div>
																<label for="fileAttach"
																	   class="flex-box align-items-center justify-content-center">
																	파일선택
																</label>
																<span class="file-caution-txt">선택된 파일이 없습니다.</span>
															</div>
															<input type="file" id="fileAttach" name="input_files" multiple data-max-count="10">
														</div>
														<div class="file-upload-area flex-box gap-5 flex-wrap"></div>
													</div>
													<p class="mt5">10Mb (doc, docx, xls, xlsx, ppt, pptx, hwp, txt, pdf, jpg, jpeg, png, gif, bmp, tif 만 파일 등록가능)</p>
												</td>
											</tr>
											<tr>
												<th>관련링크</th>
												<td>
													<input type="text" id="url" name="url">
												</td>
											</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
							<div class="btnSet flex-box gap-10 justify-content-center mt30">
                                <button type="submit" class="btn main_bg btn-save">저장</button>
                                <a th:href="${cm.link}" class="btn border_bg btn-cancel">취소</a>
                            </div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<th:block th:insert="~{admin/includes/footer.html}"/>
</div>
<script src="/admin/js/ajax.js" type="text/javascript"></script>
<script>
	let form = $("form");

	$("input[name='authorization_idx']").setValidate(form, {
		label: "회원권한",
		required: true,
	});

	$("#title").setValidate(form, {
		label: "제목",
		minLength: 1,
		maxLength: 100,
	});

	$("#desc").setValidate(form, {
		label: "내용",
		minLength: 1,
		type: SGValidateType.EDITOR
	});

	$("#url").setValidate(form, {
		label: "관련링크",
		required: false,
		type: SGValidateType.URL,
	});
</script>
</body>
</html>