<!doctype html>
<html lang="kr" class="semi-dark">
<head th:replace="~{admin/includes/head.html}">
<body>
<!--wrapper-->
<div id="bodyWrap">
    <th:block th:insert="~{admin/includes/header.html}"/>
    <div id="sub" class="">
        <div class="sub_visual">
            <div class="sub_tit">
                <h2>
                    <th:block th:text="${cm.title}"></th:block>
                </h2>
            </div>
        </div>
        <div class="sec_wrap">
            <div class="section section1">
                <div class="inner">
                    <div class="board">
                        <form th:action="${cm.link + '/update'}" method="post" enctype="multipart/form-data">
                            <input type="hidden" name="idx" th:value="${data.idx}">
                            <div class="tbl_area">
                                <div class="tbl_wrap tbl_wrap1">
                                    <div class="tit_box">
                                        <h3 class="sTit">등록정보</h3>
                                    </div>
                                    <div class="tbl_box tbl_box2">
                                        <table class="row_line">
                                            <caption>등록정보</caption>
                                            <colgroup>
                                                <col width="8.4%">
                                                <col width="41.6%">
                                                <col width="8.4%">
                                                <col width="41.6%">
                                            </colgroup>
                                            <tbody>
                                            <tr>
                                                <th>등록일시</th>
                                                <td th:text="${#dates.format(data.created_at, 'yyyy-MM-dd HH:mm:ss')}"></td>
                                                <th>마지막 수정일</th>
                                                <td th:text="${#dates.format(data.updated_at, 'yyyy-MM-dd HH:mm:ss')}"></td>
                                            </tr>
                                            <tr>
                                                <th>활성화 여부<span class="required">*</span></th>
                                                <td>
                                                    <div class="radio_box">
                                                        <input type="radio" name="notice_status" id="activate_true" value="activated" th:checked="${'ACTIVATED' eq data.status.toString()}">
                                                        <label for="activate_true">활성화</label>
                                                    </div>
                                                    <div class="radio_box">
                                                        <input type="radio" name="notice_status" id="activate_false" value="paused" th:checked="${'PAUSED' eq data.status.toString()}">
                                                        <label for="activate_false">비활성화</label>
                                                    </div>
                                                </td>
                                                <th>노출설정</th>
                                                <td>
                                                    <div class="check_box on_label">
                                                        <input type="checkbox" name="is_top" id="is_top" value="1">
                                                        <label for="is_top">탑공지</label>
                                                    </div>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="tbl_wrap tbl_wrap1">
                                    <div class="tit_box">
                                        <h3 class="sTit">게시글 정보</h3>
                                    </div>
                                    <div class="tbl_box tbl_box2">
                                        <table class="row_line">
                                            <caption>게시글 정보</caption>
                                            <colgroup>
                                                <col width="8.7%">
                                                <col width="*">
                                            </colgroup>
                                            <tbody>
                                            <tr>
                                                <th>제목<span class="required">*</span></th>
                                                <td>
                                                    <input type="text" id="title" name="title">
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>내용<span class="required">*</span></th>
                                                <td>
                                                    <textarea data-height="300px" class="editor" rows="10" id="desc"
                                                              name="desc"></textarea>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>첨부파일</th>
                                                <td>
                                                    <input type="file" id="input_file" name="input_file">
                                                    <!--
                                                    <label for="input_file" th:if="${data.file != null}">
                                                        <a th:href="${data.file?.url}" th:download="${data.file?.name}">
                                                            <p th:text="${data.file?.name}"></p>
                                                        </a>
                                                    </label>
                                                    -->
                                                    <div class="multiple-file-attach">
                                                        <div class="file-select-box">
                                                            <div>
                                                                <label for="fileAttach"
                                                                       class="flex-box align-items-center justify-content-center">
                                                                    파일선택
                                                                </label>
                                                                <span th:if="${#arrays.isEmpty(files)}" class="file-caution-txt">선택된 파일이 없습니다.</span>
                                                            </div>
                                                            <input type="file" id="fileAttach" name="input_files" multiple data-max-count="10">
                                                        </div>
                                                        <div class="file-upload-area flex-box gap-5 flex-wrap">
                                                            <div th:each="f: ${files}" class="file-box flex-box align-items-center justify-content-between gap-5 wid-fit">
                                                                <div class="flex-box align-items-center gap-5">
                                                                    <p class="file-name t-rw rw-1" th:text="${f.name}"></p>
                                                                </div>
                                                                <a href="javascript:;" class="delete-btn" th:data-file-idx="${f.idx}"><img src="/admin/images/ico_close_blue.svg" alt="" width="25"></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <p class="mt5">10Mb (doc, docx, xls, xlsx, ppt, pptx, hwp, txt, pdf,
                                                        jpg, jpeg,
                                                        png, gif, bmp, tif 만 파일 등록가능)</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>관련링크</th>
                                                <td>
                                                    <input type="text" id="url" name="url" th:value="${data.url}">
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="btnSet flex-box gap-10 justify-content-center mt30">
                                <button type="submit" class="btn main_bg btn-save">저장</button>
                                <a th:href="${cm.link}" class="btn border_bg btn-cancel">취소</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <th:block th:insert="~{admin/includes/footer.html}"/>
</div>
<script th:inline="javascript">

    const data = /*[[${data}]]*/ null;

    $("input[name='is_top']").addValidation({
        defaultvalue: data?.is_top ? "1" : null
    });

    $("#title").addValidation({
        cases: {
            "제목을 입력해주세요.": (value) => !value.length,
        },
        maxlength: 100,
        defaultvalue: data?.title
    });

    $("#desc").addValidation({
        regex: SGValidateType.QL_EDITOR,
        cases: {
            "내용을 입력해주세요.": (value) => !value.length,
        },
        focusElement: $("#desc").parent(),
        defaultvalue: data?.desc
    });

    $("input[name='input_files']").addValidation({
        regex: SGValidateType.FILE,
        fileoptions: {
            types: [
                FileType.DOC,
                FileType.DOCX,
                FileType.XLS,
                FileType.XLSX,
                FileType.PPT,
                FileType.PPTX,
                FileType.HWP,
                FileType.TXT,
                FileType.PDF,
                FileType.JPG,
                FileType.JPEG,
                FileType.PNG,
            ]
        }
    });

    $("#url").addValidation({
        regex: SGValidateType.URL,
        cases: {
            "관련링크를 정확히 입력해주세요.": (value, regex) => value.length && !regex.test(value),
        },
        defaultvalue: data?.url
    });
</script>
</body>
</html>