<!doctype html>
<html lang="kr" class="semi-dark">
    <head th:replace="~{admin/includes/head.html}">
    <body>
        <!--wrapper-->
        <div id="bodyWrap">
            <th:block th:insert="~{admin/includes/header.html}"/>
            <div id="sub" class="update">
                <div class="sub_visual">
                    <div class="sub_tit">
                        <a th:href="${cm.link}"><img src="/admin/images/back_btn.svg" width="36"></a>
                        <h2>
                            <th:block th:text="${cm.title}"></th:block>
                        </h2>
                    </div>
                </div>
                <div class="sec_wrap common-box">
                    <div class="section section1">
                        <div class="inner">
                            <div class="board">
                                <form th:action="${cm.link + '/update'}" method="post" enctype="multipart/form-data">
                                    <input type="hidden" name="idx" th:value="${data.idx}">
                                    <input type="hidden" name="file_idx" th:value="${data.file_idx}">
                                    <div class="tbl_area">
                                        <div class="tbl_wrap tbl_wrap1">
                                            <div class="tit_box">
                                                <h3 class="sTit">등록정보</h3>
                                            </div>
                                            <div class="tbl_box tbl_box2">
                                                <table class="row_line">
                                                    <caption>등록정보</caption>
                                                    <colgroup>
                                                        <col width="135px">
                                                        <col width="*">
                                                        <col width="135px">
                                                        <col width="*">
                                                    </colgroup>
                                                    <tbody>
                                                        <tr>
                                                            <th>등록일시</th>
                                                            <td th:text="${#dates.format(data.created_at, 'yyyy-MM-dd HH:mm:ss')}"></td>
                                                            <th>마지막 수정일</th>
                                                            <td th:text="${#dates.format(data.updated_at, 'yyyy-MM-dd HH:mm:ss')}"></td>
                                                        </tr>
                                                        <tr>
                                                            <th>활성화 여부<span class="required">*</span></th>
                                                            <td>
                                                                <div class="radio_box">
                                                                    <input type="radio" name="menu_status" id="activate_true" value="activated">
                                                                    <label for="activate_true">활성화</label>
                                                                </div>
                                                                <div class="radio_box">
                                                                    <input type="radio" name="menu_status" id="activate_false" value="paused">
                                                                    <label for="activate_false">비활성화</label>
                                                                </div>
                                                            </td>
                                                            <th>메뉴 노출 여부<span class="required">*</span></th>
                                                            <td>
                                                                <div class="radio_box">
                                                                    <input type="radio" name="is_show" id="is_show_true" value="1">
                                                                    <label for="is_show_true">노출</label>
                                                                </div>
                                                                <div class="radio_box">
                                                                    <input type="radio" name="is_show" id="is_show_false" value="0">
                                                                    <label for="is_show_false">미노출</label>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="tbl_wrap tbl_wrap1">
                                            <div class="tit_box">
                                                <h3 class="sTit">메뉴정보</h3>
                                            </div>
                                            <div class="tbl_box tbl_box2">
                                                <table class="row_line">
                                                    <colgroup>
                                                        <col width="135px">
                                                        <col width="*">
                                                        <col width="135px">
                                                        <col width="*">
                                                    </colgroup>
                                                    <tbody>
                                                        <tr>
                                                            <th>순서</th>
                                                            <td>
                                                                <input class="max200" type="text" name="sort" id="sort">
                                                            </td>
                                                            <th>아이콘</th>
                                                            <td>
                                                                <div class="multiple-file-attach">
                                                                    <div class="file-select-box">
                                                                        <div>
                                                                            <label for="imageAttach" class="flex-box align-items-center justify-content-center btn bl">
                                                                                파일 찾기
                                                                            </label>
                                                                            <span class="file-caution-txt">선택된 파일이 없습니다.</span>
                                                                        </div>
                                                                        <input type="file" id="imageAttach" name="icon_file">
                                                                    </div>
                                                                    <div class="file-upload-area flex-box gap-5 flex-wrap">
                                                                        <div class="file-box flex-box align-items-center justify-content-between gap-5 wid-fit" th:with="icon=${data.icon}" th:if="${data.icon != null}" >
                                                                            <div class="flex-box align-items-center gap-5">
                                                                                <p class="file-name t-rw rw-1" th:text="${icon.name}"></p>
                                                                            </div>
                                                                            <a href="javascript:;" class="delete-btn" th:data-file-idx="${icon.idx}"><img src="/admin/images/ico_close_blue.svg" alt="" width="25"></a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <p class="mt5">1Mb (svg 만 파일 등록가능)</p>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th><label for="type">종류<span class="required">*</span></label></th>
                                                            <td>
                                                                <select id="type" name="type" class="select_drop max200">
                                                                    <option value="">선택</option>
                                                                    <option value="arrow">메뉴 그룹</option>
                                                                    <option value="page">페이지</option>
                                                                </select>
                                                            </td>
                                                            <th><label for="parent_fk">상위 메뉴</label></th>
                                                            <td>
                                                                <div class="inputs">
                                                                    <select id="parent_fk" name="parent_fk"
                                                                            class="select_drop max200">
                                                                        <option value="">없음</option>
                                                                        <option th:each="menu : ${menus}" th:value="${menu.idx}" th:text="${menu.title}"></option>
                                                                    </select>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th><label for="link">링크</label></th>
                                                            <td colspan="3">
                                                                <input type="text" name="link" id="link" class="wid40">
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th><label for="title">제목<span class="required">*</span></label></th>
                                                            <td colspan="3">
                                                                <input type="text" name="title" id="title" class="wid40">
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th><label for="desc">설명</label></th>
                                                            <td colspan="3">
                                                                <textarea rows="5" name="desc" id="desc"></textarea>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="btnSet flex-box gap-10 justify-content-center mt30">
                                        <button type="submit" class="btn main_bg btn-save">저장</button>
                                        <a th:href="${cm.link}" class="btn border111 btn-cancel">취소</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <th:block th:insert="~{admin/includes/footer.html}"/>
        </div>
        <script th:inline="javascript">

            const data = /*[[${set_data}]]*/ null;
            const $form = $("form");

            setData(data);

            $("input[name='menu_status']").addValidation({
                cases: {
                    "활성화 여부를 선택해주세요.": (value) => !value
                }
            });

            $("#sort").addValidation({
                regex: SGValidateType.NUMBER,
                maxlength: 11,
            });

            $("input[name='icon_file']")
                .change(function() {
                    emptyFiles($(this));
                })
                .addValidation({
                    regex: SGValidateType.FILE,
                    cases : {
                        "아이콘 최대 크기는 1MB 입니다.": (files) => !fileMaxSizeCheck(1, files)
                    },
                    fileoptions: {
                        types: [FileType.SVG]
                    },
                    maxlength: 1,
                });

            $("#type").addValidation({
                cases: {
                    "종류를 선택해주세요.": (value) => !value.length
                }
            });

            $("#title").addValidation({
                maxlength: 100,
                cases: {
                    "제목을 입력해주세요.": (value) => !value
                }
            });

            $form.submit(function(event) {
                event.preventDefault();

                if ($form.isValidate()) {
                    SGConfirm({
                        title: "관리자 메뉴를 수정하시겠습니까?",
                        onsuccess: (res) => {
                            if (res) {
                                SGProcess({
                                    title: "관리자 메뉴를 수정중입니다...",
                                });
                                this.submit();
                            }
                        }
                    })
                }
            });
        </script>
    </body>
</html>