<!doctype html>
<html lang="kr" class="semi-dark">
<head th:replace="~{admin/includes/head.html}">
<body>
<!--wrapper-->
<div id="bodyWrap">
    <th:block th:insert="~{admin/includes/header.html}"/>
    <div id="sub" class="">
        <div class="sub_visual">
            <div class="sub_tit">
                <h2>
                    <th:block th:text="${cm.title}"></th:block>
                </h2>
            </div>
        </div>
        <div class="sec_wrap">
            <div class="section section1">
                <div class="inner">
                    <div class="board">
                        <form th:action="${cm.link + '/update'}" method="post">
                            <input type="hidden" name="idx" th:value="${data.idx}">
                            <div class="tbl_area">
                                <div class="tbl_wrap tbl_wrap1">
                                    <div class="tit_box">
                                        <h3 class="sTit">등록정보</h3>
                                    </div>
                                    <div class="tbl_box tbl_box2">
                                        <table class="row_line">
                                            <colgroup>
                                                <col width="8.4%">
                                                <col width="40%">
                                                <col width="8.4%">
                                                <col width="40%">
                                            </colgroup>
                                            <tbody>
                                            <tr>
                                                <th><label for="menu_status">상태</label></th>
                                                <td>
                                                    <select id="menu_status" name="menu_status"
                                                            class="select_drop max200">
                                                        <option value="activated" th:selected="'ACTIVATED' eq ${data.status.toString()}">
                                                            활성화
                                                        </option>
                                                        <option value="paused" th:selected="'PAUSED' eq ${data.status.toString()}">
                                                            비활성화
                                                        </option>
                                                    </select>
                                                </td>
                                                <th><label for="sort">순서</label></th>
                                                <td>
                                                    <input class="max200" type="text" name="sort" id="sort"
                                                           th:value="${data.sort}">
                                                </td>
                                            </tr>
                                            <tr>
                                                <th><label for="type">종류</label></th>
                                                <td>
                                                    <select id="type" name="type" class="select_drop max200">
                                                        <option value="arrow" th:selected="'arrow' eq ${data.type}">메뉴
                                                            그룹
                                                        </option>
                                                        <option value="page" th:selected="'page' eq ${data.type}">페이지
                                                        </option>
                                                    </select>
                                                </td>
                                                <th><label for="parent_fk">상위 메뉴</label></th>
                                                <td>
                                                    <div class="inputs">
                                                        <select id="parent_fk" name="parent_fk"
                                                                class="select_drop max200">
                                                            <option value="">없음</option>
                                                            <option th:each="menu : ${menus}" th:value="${menu.idx}"
                                                                    th:text="${menu.title}"
                                                                    th:selected="${menu.idx} eq ${data.parent_fk}"></option>
                                                        </select>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th><label for="link">링크</label></th>
                                                <td>
                                                    <input type="text" name="link" id="link" th:value="${data.link}">
                                                </td>
                                                <th><label for="icon_name">아이콘명</label></th>
                                                <td>
                                                    <input class="max200" type="text" name="icon_name" id="icon_name"
                                                           placeholder="이미지명" th:value="${data.icon_name}">
                                                </td>
                                            </tr>
                                            <tr>
                                                <th><label for="title">제목</label></th>
                                                <td colspan="3">
                                                    <input type="text" name="title" id="title" th:value="${data.title}">
                                                </td>
                                            </tr>
                                            <tr>
                                                <th><label for="desc">설명</label></th>
                                                <td colspan="3">
                                                    <textarea rows="5" name="desc" id="desc"
                                                              th:text="${data.desc}"></textarea>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="btnSet flex-box gap-10 justify-content-center mt30">
                                <button type="submit" class="btn main_bg btn-save">저장</button>
                                <a th:href="${cm.link}" class="btn border_bg btn-cancel">취소</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <th:block th:insert="~{admin/includes/footer.html}"/>
</div>
<script src="/admin/js/ajax.js" type="text/javascript"></script>
<script>
    let form = $("form");
    $("#menu_status").setValidate(form, {
        label: "상태",
        minLength: 1,
    });
    $("#sort").setValidate(form, {
        label: "순서",
        maxLength: 11,
        type: SGValidateType.NUMBER,
        required: false
    });
    $("#type").setValidate(form, {
        label: "종류",
        minLength: 1,
    });
    $("#title").setValidate(form, {
        label: "제목",
        minLength: 1,
        maxLength: 100
    });
    $("#parent_fk").setValidate(form, {
        label: "상위 메뉴",
        required: false
    });
    $("#link").setValidate(form, {
        label: "링크",
        required: false,
        type: SGValidateType.PATH,
    });

    form.on("submit", function () {
        if ($(this).isValidate()) {
            SGConfirm({
                title: "관리자 메뉴를 수정하시겠습니까?",
                onsuccess: (res) => {
                    if (res) this.submit();
                }
            })
        }
        return false;
    });
</script>
</body>
</html>