<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--favicon-->
<link rel="icon" href="/admin/images/favicon.ico" type="image/png" />

<title>관리자 페이지</title>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.css">
<link href="/admin/css/datepicker.css" rel="stylesheet" />
<link href="/admin/css/common.css" rel="stylesheet">
<link href="/admin/css/menu_tree.css" rel="stylesheet">
<link href="/plugins/sg-validation/sg_validation.css" rel="stylesheet" />
<link href="/front/css/sg_validation.css" rel="stylesheet" />
<link href="/admin/css/preview.css" rel="stylesheet">
<link href="/admin/css/style.css" rel="stylesheet" />
<link href="/admin/css/content.css" rel="stylesheet" />
<link href="/admin/css/niceselect.css" rel="stylesheet" />
<link href="/admin/css/reset.css" rel="stylesheet" />
<link href="/admin/css/responsive.css" rel="stylesheet" />
<link href="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.snow.css" rel="stylesheet" />

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<!--plugins-->
<script src="/admin/js/jquery.min.js"></script>
<script src="/admin/js/jquery-1.12.0.min.js"></script>
<script src="/admin/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="/admin/js/function_jquery.js"></script>
<script type="text/javascript" src="/admin/js/function.js"></script>
<script type="text/javascript" src="/admin/js/datepicker.js"></script>
<script type="text/javascript" src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script type="text/javascript" src="/plugins/sg-validation/sg_validation.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js"></script>

<!-- datetimepicker -->
<link rel="stylesheet" type="text/css" media="screen" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
