<!doctype html>
<html lang="kr" class="semi-dark">
<head th:replace="~{admin/includes/head.html}">
<body>
<!--wrapper-->
<div id="bodyWrap">
	<th:block th:insert="~{admin/includes/header.html}"/>
	<div id="sub" class="">
		<div class="sub_visual">
			<div class="sub_tit">
				<h2>
					<th:block th:text="${cm.title}"></th:block>
				</h2>
			</div>
		</div>
		<div class="sec_wrap common-box">
			<div class="section section1">
				<div class="inner">
					<div class="board">
						<form th:action="${cm.link + '/update'}" method="post" enctype="multipart/form-data" autocomplete="off">
							<input type="hidden" name="idx">
							<div class="tbl_area">
								<div class="tbl_wrap tbl_wrap1">
									<div class="tit_box">
										<h3 class="sTit">등록정보</h3>
									</div>
									<div class="tbl_box tbl_box2">
										<table class="row_line">
											<caption>등록정보</caption>
											<colgroup>
												<col width="8.7%">
												<col width="41.3%">
												<col width="8.7%">
												<col width="41.3%">
											</colgroup>
											<tbody>
											<tr>
												<th>등록일시</th>
												<td th:text="${#dates.format(data.created_at, 'yyyy-MM-dd HH:mm:ss')}"></td>
												<th>마지막 수정일</th>
												<td th:text="${#dates.format(data.updated_at, 'yyyy-MM-dd HH:mm:ss')}"></td>
											</tr>
											<tr>
												<th id="popup_activate">
													활성화 여부<span class="required">*</span>
												</th>
												<td colspan="3">
													<div class="radio_box">
														<input type="radio" name="popup_status" id="activate_true" value="activated" th:checked="${'ACTIVATED' eq data.status.toString()}">
														<label for="activate_true">활성화</label>
													</div>
													<div class="radio_box">
														<input type="radio" name="popup_status" id="activate_false" value="paused" th:checked="${'PAUSED' eq data.status.toString()}">
														<label for="activate_false">비활성화</label>
													</div>
												</td>
											</tr>
											</tbody>
										</table>
									</div>
								</div>
								<div class="tbl_wrap tbl_wrap1">
									<div class="tit_box">
										<h3 class="sTit">팝업정보</h3>
									</div>
									<div class="tbl_box tbl_box2">
										<table class="row_line">
											<caption>팝업정보</caption>
											<colgroup>
												<col width="8.7%">
												<col width="*">
											</colgroup>
											<tbody>
												<tr>
													<th><label for="title">제목<span class="required">*</span></label></th>
													<td>
														<input type="text" name="title" id="title">
													</td>
												</tr>
												<tr>
													<th><label for="started_at">시작일<span class="required">*</span></label></th>
													<td>
														<p class="calendar max200">
															<input type="text" class="input datepicker" name="started_at" id="started_at">
															<span class="calendar_ico"><img
																	src="/admin/images/ico_calendar.svg"></span>
														</p>
													</td>
												</tr>
												<tr>
													<th><label for="ended_at">종료일<span class="required">*</span></label></th>
													<td>
														<p class="calendar max200">
															<input type="text" class="input datepicker" name="ended_at" id="ended_at">
															<span class="calendar_ico"><img
																	src="/admin/images/ico_calendar.svg"></span>
														</p>
													</td>
												</tr>
												<tr>
													<th id="popup_location" rowspan="3">
														팝업 위치<span class="required">*</span>
													</th>
													<td>
														<div class="radio_box">
															<input type="radio" name="is_center" id="is_center_true" value="1" th:checked="${data.is_center}">
															<label for="is_center_true">가운데</label>
														</div>
														<div class="radio_box">
															<input type="radio" name="is_center" id="is_center_false" value="0" th:checked="${!data.is_center}">
															<label for="is_center_false">좌측</label>
														</div>
													</td>
												</tr>
												<tr class="popup_location">
													<td>
														<label for="top">상단</label>
														<input class="max200 txt-r" type="text" name="top" id="top"> px
													</td>
												</tr>
												<tr class="popup_location">
													<td>
														<label for="left">좌측</label>
														<input class="wid200 txt-r" type="text" name="left" id="left"> px
													</td>
												</tr>
												<tr>
													<th>노출 기기<span class="required">*</span></th>
													<td>
														<div class="radio_box">
															<input type="radio" name="device" id="device_null" value="" th:checked="${data.device eq null}">
															<label for="device_null">총</label>
														</div>
														<div class="radio_box">
															<input type="radio" name="device" id="device_pc" value="PC" th:checked="${data.device eq 'PC'}">
															<label for="device_pc">PC만</label>
														</div>
														<div class="radio_box">
															<input type="radio" name="device" id="device_mo" value="MO" th:checked="${data.device eq 'MO'}">
															<label for="device_mo">MO만</label>
														</div>
														<div class="radio_box">
															<input type="radio" name="device" id="device_app" value="APP" th:checked="${data.device eq 'APP'}">
															<label for="device_app">앱에서만</label>
														</div>
													</td>
												</tr>
												<tr>
													<th rowspan="2">
														<label for="width">
															크기<span class="required">*</span><br>
															(최대 360x360)
														</label>
													</th>
													<td>
														<label for="width">가로</label>
														<input type="text" id="width" name="width" class="wid200 txt-r"> px
													</td>
												</tr>
												<tr>
													<td>
														<label for="height">세로</label>
														<input type="text" id="height" name="height" class="wid200 txt-r"> px
													</td>
												</tr>
												<tr>
													<th>
														<label for="is_main_false">페이지<span class="required">*</span></label>
													</th>
													<td>
														<div class="radio_box">
															<input type="radio" name="is_main" id="is_main_false" value="0" th:checked="${!data.is_main}">
															<label for="is_main_false">총</label>
														</div>
														<div class="radio_box">
															<input type="radio" name="is_main" id="is_main_true" value="1" th:checked="${data.is_main}">
															<label for="is_main_true">메인페이지에서만</label>
														</div>
													</td>
												</tr>
												<tr>
													<th>
														<label for="image_file">이미지<span class="required">*</span></label>
													</th>
													<td>
														<input type="file" id="image_file" name="image_file">
														<p class="mt5">(jpg, png, jpeg 만 파일 등록가능) 10Mb</p>
													</td>
												</tr>
												<tr>
													<th><label for="url">자세히 보기 URL<span class="required">*</span></label></th>
													<td>
														<input type="text" name="url" id="url">
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
							<div class="btnSet flex-box gap-10 justify-content-center mt30">
                                        <button type="submit" class="btn main_bg btn-save">저장</button>
                                        <a th:href="${cm.link}" class="btn border111 btn-cancel">취소</a>
                                    </div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<th:block th:insert="~{admin/includes/footer.html}"/>
</div>
<script th:inline="javascript">

	let data = /*[[${data}]]*/ null;

	setData(data);

	const $form = $("form");

	$("#image_file").preview({
		default_image: data?.file?.url
	});

	$("#title").addValidation({
		cases: {
			"제목을 입력해주세요.": (value) => !value.length
		},
		maxlength: 100
	});
	$("#started_at").addValidation({
		regex: SGValidateType.DATE,
		cases: {
			"시작일을 입력해주세요.": (value) => !value.length,
		},
		focusElement: $("#started_at").closest("td")
	});
	$("#ended_at").addValidation({
		regex: SGValidateType.DATE,
		cases: {
			"종료일을 입력해주세요.": (value) => !value.length,
		},
		focusElement: $("#ended_at").closest("td")
	});
	$("input[name='is_center']")
			.addValidation({
				cases: {
					"팝업 위치를 선택해주세요.": (value) => value === undefined,
				},
				focusElement: $("input[name='is_center']").closest("td")
			})
			.change(function() {
				isCenterHandler(this, this.value);
			});
	$("#top").addValidation({
		regex: SGValidateType.NUMBER,
		cases: {
			"상단 px을 지정해주세요.": (value) => !value.length,
		},
		maxlength: 4,
		focusElement: $("#top").closest("td")

	});
	$("#left").addValidation({
		regex: SGValidateType.NUMBER,
		cases: {
			"좌측 px을 지정해주세요.": (value) => !value.length,
		},
		maxlength: 4,
		focusElement: $("#left").closest("td")
	});
	$("input[name='device']").addValidation({
		cases: {
			"노출 기기를 선택해주세요.": (value) => value === undefined,
		},
		focusElement: $("input[name='device']").closest("td")
	});
	$("#width").addValidation({
		regex: SGValidateType.NUMBER,
		cases: {
			"가로 px을 지정해주세요.": (value) => !value.length
		},
		maxlength: 4,
		focusElement: $("#width").closest("td")
	});
	$("#height").addValidation({
		regex: SGValidateType.NUMBER,
		cases: {
			"세로 px을 지정해주세요.": (value) => !value.length
		},
		maxlength: 4,
		focusElement: $("#height").closest("td")
	});
	$("input[name='is_main']").addValidation({
		cases: {
			"페이지를 선택해주세요.": (value) => value === undefined,
		},
		focusElement: $("input[name='is_main']").closest("td")
	})
	/*$("#image_file").addValidation({
		regex: SGValidateType.FILE,
		cases: {
			"이미지를 선택해주세요.": (files) => !files.length,
			"이미지는 최대 10MB 이하로 선택해주세요.": (files, regex) => !fileMaxSizeCheck(10, files)
		},
		focusElement: $("#image_file").closest("td")
	});*/
	$("#url").addValidation({
		regex: SGValidateType.URL,
		maxlength: 100,
		cases: {
			"자세히 보기 URL을 입력해주세요.": (value) => !value.length,
			"자세히 보기 URL을 정확히 입력해주세요.": (value, regex) => !regex.test(value),
		}
	});

	$form.submit(function(event) {
		event.preventDefault();

		if ($form.isValidate()) {
			SGConfirm({
				title: "팝업을 저장하시겠습니까?",
				onsuccess: (res) => {
					if (res) {
						SGProcess({
							title: "팝업을 저장중입니다...",
						});
						this.submit();
					}
				}
			})
		}
	});

	isCenterHandler(null, data?.is_center ? "1" : "0");

	function isCenterHandler(input, value) {
		let is_center_input_field = $("#popup_location");
		let popup_location = $(".popup_location");
		if(!value || Object.is(value, "1")) {
			is_center_input_field.attr("rowspan", 1);
			popup_location.hide();
			popup_location.find("input").val("");
		} else {
			is_center_input_field.attr("rowspan", 3);
			popup_location.show();
		}
	}
</script>
</body>
</html>