<!doctype html>
<html lang="kr" class="semi-dark">
<head th:replace="~{admin/includes/head.html}">
<body>
<!--wrapper-->
<div id="bodyWrap">
	<th:block th:insert="~{admin/includes/header.html}"/>
	<div id="sub" class="">
		<div class="sub_visual">
			<div class="sub_tit">
				<h2>
					<th:block th:text="${cm.title}"></th:block> 등록
				</h2>
			</div>
		</div>
		<div class="sec_wrap common-box">
			<div class="section section1">
				<div class="inner">
					<div class="board">
						<form th:action="${cm.link + '/insert'}" method="post" enctype="multipart/form-data">
							<div class="tbl_area">
								<div class="tbl_wrap tbl_wrap1">
									<div class="tit_box">
										<h3 class="sTit">SEO 정보</h3>
									</div>
									<div class="tbl_box tbl_box2">
										<table class="row_line">
											<caption>SEO 정보</caption>
											<colgroup>
												<col width="8.4%">
												<col width="*">
											</colgroup>
											<tbody>
												<tr>
													<th>활성화 여부<span class="required">*</span></th>
													<td>
														<div class="radio_box">
															<input type="radio" name="seo_status" id="activate_true" value="activated" checked>
															<label for="activate_true">활성화</label>
														</div>
														<div class="radio_box">
															<input type="radio" name="seo_status" id="activate_false" value="paused">
															<label for="activate_false">비활성화</label>
														</div>
													</td>
												</tr>
												<tr>
													<th>링크<span class="required">*</span></th>
													<td>
														<input type="text" name="url" id="url">
													</td>
												</tr>
												<tr>
													<th>제목<span class="required">*</span></th>
													<td>
														<input type="text" name="title" id="title">
													</td>
												</tr>
												<tr>
													<th>키워드</th>
													<td>
														<input type="text" name="keyword" id="keyword" >
													</td>
												</tr>
												<tr>
													<th>내용</th>
													<td>
														<textarea rows="5" type="text" name="desc" id="desc" ></textarea>
													</td>
												</tr>
												<tr>
													<th><label for="pc_image">PC 이미지</label></th>
													<td>
														<input type="file" name="pc_image" id="pc_image">
													</td>
												</tr>
												<tr>
													<th><label for="mo_image">MO 이미지</label></th>
													<td>
														<input type="file" name="mo_image" id="mo_image">
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
							<div class="btnSet flex-box gap-10 justify-content-center mt30">
                                        <button type="submit" class="btn main_bg btn-save">저장</button>
                                        <a th:href="${cm.link}" class="btn border111 btn-cancel">취소</a>
                                    </div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<th:block th:insert="~{admin/includes/footer.html}"/>
</div>
<script>
	$("#seo_status").addValidation({
		cases: {
			"활성화 여부를 선택해주세요.": (value) => !value
		}
	});
	$("#url").addValidation({
		regex: SGValidateType.PATH,
		cases: {
			"링크를 입력해주세요.": (value) => !value.length,
			"링크를 정확히 입력해주세요.": (value, regex) => !regex.test(value),
		}
	});
	$("#title").addValidation({
		cases: {
			"제목을 입력해주세요.": (value) => !value.length,
		},
		maxlength: 100,
	});
	$("#pc_image")
			.preview({})
			.addValidation({
				regex: SGValidateType.FILE,
				fileoptions: {
					types: [FileType.IMAGES]
				}
			});
	$("#mo_image")
			.preview({})
			.addValidation({
				regex: SGValidateType.FILE,
				fileoptions: {
					types: [FileType.IMAGES]
				}
			});

	$form.on("submit", function() {
		if($form.isValidate()) {
			SGConfirm({
				title: "SEO 항목을 저장하시겠습니까?",
				onsuccess: (res) => {
					if(res) {
						SGProcess({
							title: "SEO 항목을 저장중입니다..."
						});
						this.submit();
					}
				}
			})
		}
		return false;
	});
</script>
</body>
</html>