<!doctype html>
<html lang="kr" class="semi-dark">
<head th:replace="~{admin/includes/head.html}">
<body>
<!--wrapper-->
<div id="bodyWrap">
	<th:block th:insert="~{admin/includes/header.html}"/>
	<div id="sub" class="">
		<div class="sub_visual">
			<div class="sub_tit">
				<h2>
					<th:block th:text="${cm.title}"></th:block> 등록
				</h2>
			</div>
		</div>
		<div class="sec_wrap">
			<div class="section section1">
				<div class="inner">
					<div class="board">
						<form th:action="${cm.link + '/insert'}" method="post" enctype="multipart/form-data">
							<div class="tbl_area">
								<div class="tbl_wrap tbl_wrap1">
									<div class="tit_box">
										<h3 class="sTit">등록정보</h3>
									</div>
									<div class="tbl_box tbl_box2">
										<table class="row_line">
											<caption>등록정보</caption>
											<colgroup>
												<col width="8.4%">
												<col width="40%">
												<col width="8.4%">
												<col width="40%">
											</colgroup>
											<tbody>
												<tr>
													<th><label for="status">상태</label></th>
													<td>
														<select id="status" name="seo_status" class="select_drop max200" >
															<option value="activated" selected>활성화</option>
															<option value="paused">비활성화</option>
														</select>
													</td>
													<th><label for="url">링크</label></th>
													<td>
														<input type="text" name="url" id="url">
													</td>
												</tr>
												<tr>
													<th><label for="title">제목</label></th>
													<td colspan="3">
														<input type="text" name="title" id="title">
													</td>
												</tr>
												<tr>
													<th><label for="keyword">키워드</label></th>
													<td colspan="3">
														<input type="text" name="keyword" id="keyword" >
													</td>
												</tr>
												<tr>
													<th><label for="desc">내용</label></th>
													<td colspan="3">
														<textarea rows="5" type="text" name="desc" id="desc" ></textarea>
													</td>
												</tr>
												<tr>
													<th><label for="pc_image">PC 이미지</label></th>
													<td colspan="3">
														<input type="file" name="pc_image" id="pc_image">
													</td>
												</tr>
												<tr>
													<th><label for="mo_image">MO 이미지</label></th>
													<td colspan="3">
														<input type="file" name="mo_image" id="mo_image">
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
							<div class="btnSet flex-box gap-10 justify-content-center mt30">
                                <button type="submit" class="btn main_bg btn-save">저장</button>
                                <a th:href="${cm.link}" class="btn border_bg btn-cancel">취소</a>
                            </div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<th:block th:insert="~{admin/includes/footer.html}"/>
</div>
<script>
	$("#pc_image").preview({
		"onchange": function(img) {
		}
	});
	$("#mo_image").preview({
		"onchange": function(img) {
		}
	});

	let sg_form = $("form");
	$("#status").setValidate(sg_form, {
		label: "상태",
		minLength: 1,
	});
	$("#url").setValidate(sg_form, {
		label: "링크",
		minLength: 1,
		type: SGValidateType.PATH,
		showIcon: true
	});
	$("#title").setValidate(sg_form, {
		label: "제목",
		minLength: 1,
		maxLength: 100,
		showIcon: true
	});
	$("#pc_image").setValidate(sg_form, {
		label: "PC 이미지",
		required: true,
		type: SGValidateType.FILE
	});
	$("#mo_image").setValidate(sg_form, {
		label: "MO 이미지",
		required: true,
		type: SGValidateType.FILE
	});

	sg_form.on("submit", function() {
		if(sg_form.isValidate()) {
			SGProcess({
				title: "SEO 항목을 등록중입니다..."
			});
		}
	});
</script>
</body>
</html>