<!doctype html>
<html lang="kr" class="semi-dark">
<head th:replace="~{admin/includes/head.html}"></head>
<body>
<!--wrapper-->
<div id="bodyWrap">
    <!--sidebar wrapper -->
    <th:block th:insert="~{admin/includes/header.html}"/>
    <div id="sub" class=" agreement-list-page">
        <div class="sub_visual">
            <div class="sub_tit">
                <h2 th:text="${cm.title}"></h2>
            </div>
        </div>

        <!-- 본문 시작 -->
        <div class="sec_wrap">
            <div class="section section1">
                <div class="inner">
                    <div class="searchWrap">
                        <form id="searchForm" th:action="${cm.link}">
                            <table class="searchTable">
                                <caption> 게시글검색 </caption>
                                <colgroup>
                                    <col width="10.3%">
                                    <col width="*">
                                </colgroup>
                                <tbody>
                                <tr>
                                    <th>검색조건</th>
                                    <td>
                                        <div class="srch_word">
                                            <div class="wte_word flex-box gap-5">
                                                <select name="c" class="select_drop wid30" style="display: none;">
                                                    <option value="">약관구분</option>
                                                    <option th:each="c:${categories}" th:value="${c.idx}" th:text="${c.name}"></option>
                                                </select>
                                                <select name="st" class="select_drop wid10" style="display: none;">
                                                    <option value="">상태</option>
                                                    <option value="active">활성화</option>
                                                    <option value="pause">비활성화</option>
                                                </select>
                                                <div class="btn_box btn_box2 clear">
                                                    <input type="submit" value="검색" class="btn_search">
                                                    <input type="reset" value="초기화" class="btn_search">
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <input type="hidden" name="p" id="page" th:value="${data.curPage}">
                        </form>
                    </div>
                    <!-- //search_warp -->
                    <form th:action="${cm.link + '/delete'}" class="form-inline" method="post" onsubmit="return deleteCheck(this);">
                        <div class="tbl_area">
                            <div class="tbl_tit">
                                전체 <strong th:text="${data.count}"></strong><em>건</em>
                                <!--<span>(<i th:text="${data.curPage}"></i>/<i th:text="${data.lastPage}"></i> 페이지)</span>-->
                            </div>
                            <div class="scroll_list_wrap">
                                <div class="tbl_box tbl_box5 list-page">
                                    <table>
                                        <caption>목록</caption>
                                        <colgroup>
                                            <col width="70px" />
                                            <col width="70px" />
                                            <col width="15%" />
                                            <col width="*" />
                                            <col width="11%" />
                                            <col width="10%" />
                                            <col width="10%" />
                                            <col width="10%" />
                                        </colgroup>
                                        <thead>
                                        <tr>
                                            <th class="chk_th" scope="col">
                                                <div class="check_box">
                                                    <input type="checkbox" id="all_chk">
                                                    <label for="all_chk">전체선택</label>
                                                </div>
                                            </th>
                                            <th scope="col">번호</th>
                                            <th scope="col">약관구분</th>
                                            <th scope="col">제목</th>
                                            <th scope="col">상태</th>
                                            <th scope="col">필수 동의여부</th>
                                            <th scope="col">마지막 수정일</th>
                                            <th scope="col">등록일</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:if="${data.count == 0}">
                                            <td colspan="8">약관 항목이 없습니다.</td>
                                        </tr>
                                        <tr th:if="${data.count != 0}" th:each="row: ${data.list}">
                                            <td class="chk_td">
                                                <div class="check_box">
                                                    <input type="checkbox" th:id="'chk_'+${row.idx}" name="idx" class="list-chkbox" th:value="${row.idx}">
                                                    <label th:for="'chk_'+${row.idx}"></label>
                                                </div>
                                            </td>
                                            <td th:data-idx="${row.idx}" th:text="${row.row_num}"></td>
                                            <td th:text="${row.category?.name}" th:data-idx="${row.idx}" class="txt-l"></td>
                                            <td th:text="${row.title}" th:data-idx="${row.idx}" class="txt-l"></td>
                                            <td th:data-idx="${row.idx}">
                                                <span th:class="${row.status.toClass()}" th:text="${row.status.toHtml()}"></span>
                                            </td>
                                            <td th:text="${row.isRequiredToString()}" th:data-idx="${row.idx}"></td>
                                            <td th:text="${#dates.format(row.created_at, 'yyyy-MM-dd')}" th:data-idx="${row.idx}"></td>
                                            <td th:text="${#dates.format(row.updated_at, 'yyyy-MM-dd')}" th:data-idx="${row.idx}"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div><!-- //tbl_area -->
                        <div class="btnSet clear">
                            <div class="left">
                                <button type="submit" class="btn border222 btn-list-delete wid70_px">삭제</button>
                            </div>
                            <div class="right">
                                <a th:href="${cm.link} + '/insert'" class="btn primary">등록</a>
                            </div>
                        </div>
                    </form>
                    <th:block th:insert="~{admin/includes/page_nation.html}"></th:block>
                </div>
            </div>
        </div>
    </div>
    <th:block th:insert="~{admin/includes/footer.html}"/>
</div>
<!--end wrapper-->
<!--start switcher-->
<script src="/admin/js/index.js" type="text/javascript"></script>
<script>
    const deleteCheck = (form) => {
        let count = $(form).find("input[name='idx']:checked").length;
        if(!count) {
            SGAlert({
                title: "선택된 항목이 없습니다.",
                type: SGAlertType.ERROR
            })
        } else {
            SGConfirm({
                title: `${count}개의 항목을 삭제하시겠습니까?`,
                type: SGAlertType.QUESTION,
                onsuccess: (res) => {
                    if(res) form.submit();
                }
            })
        }
        return false;
    }
</script>
</body>
</html>