.nice-select {
    -webkit-tap-highlight-color: transparent;
    background-color: #fff;
    border-radius: 5px;
    border: solid 1px #DDD;
    box-sizing: border-box;
    clear: both;
    cursor: pointer;
    display: block;
    font-family: inherit;
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: -0.28px;
    height: 40px;
    line-height: 38px;
    outline: none;
    padding-left: 10px;
    padding-right: 30px;
    position: relative;
    text-align: left !important;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    white-space: nowrap;
    width: auto;
    margin: 0;
}
    .nice-select.open {border-radius: 5px 5px 0 0 !important;}
    .nice-select:hover {
      border-color: #DDD; }
    .nice-select:active, .nice-select.open, .nice-select:focus {
      border-color: #DDD; }
    .nice-select:after {
        border: none;
        background-image: url("/admin/images/ico_arrow_down.svg");
        background-size: 11px 6px;
        background-position: center;
        background-repeat: no-repeat;
        content: '';
        display: block;
        height: 6px;
        width: 11px;
      pointer-events: none;
      position: absolute;
      right: 10px;
      top: 50%;
      -webkit-transform-origin: center;
          -ms-transform-origin: center;
              transform-origin: center;
      -webkit-transform: rotate(0);
          -ms-transform: rotate(0);
              transform: rotate(0);
      -webkit-transition: all 0.15s ease-in-out;
      transition: all 0.15s ease-in-out;
      }

    .nice-select.open:after {
      -webkit-transform: rotate(-180deg);
          -ms-transform: rotate(-180deg);
              transform: rotate(-180deg); }
    .nice-select.open .list {
      opacity: 1;
      pointer-events: auto;
      -webkit-transform: scale(1) translateY(0);
          -ms-transform: scale(1) translateY(0);
              transform: scale(1) translateY(0); }
    .nice-select.disabled {
      border-color: #e7ecf2;
      color: #90a1b5;
      pointer-events: none; }
      .nice-select.disabled:after {
        border-color: #cdd5de; }
    .nice-select.wide {
      width: 100%; }
      .nice-select.wide .list {
        left: 0 !important;
        right: 0 !important; }
    .nice-select.right {
      float: right; }
      .nice-select.right .list {
        left: auto;
        right: 0; }
    .nice-select.small {
      font-size: 12px;
      height: 36px;
      line-height: 34px; }
      .nice-select.small:after {
        height: 4px;
        width: 4px; }
      .nice-select.small .option {
        line-height: 34px;
        min-height: 34px; }
    .nice-select .list {
      width: 100%;
        margin-top: 0;
      background-color: #fff;
      border-radius: 0 0 5px 5px;
      box-sizing: border-box;
      opacity: 0;
      overflow: hidden;
      padding: 0;
      pointer-events: none;
      position: absolute;
      top: 100%;
      left: 0;
      -webkit-transform-origin: 50% 0;
          -ms-transform-origin: 50% 0;
              transform-origin: 50% 0;
      -webkit-transform: scale(0.75) translateY(-21px);
          -ms-transform: scale(0.75) translateY(-21px);
              transform: scale(0.75) translateY(-21px);
      -webkit-transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
      transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
      z-index: 200;
        max-height: 200px;
        overflow-y: auto;
    }
.nice-select .list::-webkit-scrollbar {width: 2px;}
.nice-select .list::-webkit-scrollbar-thumb {
    background: #ddd;
    border-radius: 5px;
}
.nice-select .list::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 5px;
}

      .nice-select .list:hover .option:not(:hover) {
        background-color: transparent !important; }

    .nice-select .option {
      cursor: pointer;
      font-weight: 500;
      line-height: 44px;
        font-size: 1.4rem;
      list-style: none;
      min-height: 44px;
      outline: none;
      padding-left: 10px;
      padding-right: 10px;
      text-align: left;
      -webkit-transition: all 0.2s;
      transition: all 0.2s; }
        .nice-select .option.selected.focus {background-color: transparent;}
      .nice-select .option:hover, .nice-select .option.focus, .nice-select .option.selected:hover {
        background: #EEFEFF; }
      /*.nice-select .option.selected {
        font-weight: bold; }*/
      .nice-select .option.disabled {
        background-color: transparent;
        color: #90a1b5;
        cursor: default; }
    .nice-select .option.selected {font-weight: unset;}
    /*.nice-select.open {*/
    /*    height: 46px !important;*/
    /*    line-height: 44px !important;*/
    /*}*/

.nice-select.line .option.disabled {
    background-color: #eeeeee !important;
    height: 10px;
    line-height: 10px;
    min-height: 10px;
    font-size: 0;
    cursor: default;
}

.nice-select.line .option.disabled:hover {
    background-color: #eeeeee !important;
}

.nice-select.line .list:hover .option.disabled {
    background-color: #eeeeee !important;
}

  