@charset "utf-8";
/* CSS Document */
.pc {
    display: block;
}

/*pc 노출 = 테블릿, 모바일 미노출*/
.pcta {
    display: block;
}

/*pc, 테블릿 노출 = 모바일 미노출*/
.mo {
    display: none;
}

/*모바일 노출 = pc,테블릿 미노출*/
.ta {
    display: none;
}

/*테블릿, 모바일 노출 = pc 미노출*/
@media screen and (max-width: 2080px) {
    .worker-table {
        min-width: 2000px;
    }
}

@media screen and (max-width: 1980px) {
    .consult-order-table, .consult-client-table {
        min-width: 2000px;
    }
    .dashboard .top .common-box1 {
        min-width: 600px;
    }
}

@media screen and (max-width: 1920px) {
    .product-box {
        overflow-x: auto;
    }

    .product-box > .flex-box.gap-10 {
        min-width: 1500px;
    }

    .searchWrap .searchTable {
        display: block;
        width: 100%;
    }

    .searchWrap tbody {
        display: block !important;
    }

    .searchWrap tbody tr {
        display: flex !important;
        width: 100%;
        flex-wrap: wrap;
    }

    .searchWrap .searchTable th {
        width: 13.03%;
        display: flex !important;
        align-items: center;
        min-height: 50px;
    }

    .searchWrap .searchTable td {
        display: flex !important;
        align-items: center;
        width: 86.97%;
        border-top: 1px solid #eeeeee;
    }

    .searchWrap .searchTable tr:first-child td:nth-child(2) {
        border-top: none;
    }

    .searchWrap .searchTable tr {
        border-top: none;
    }

    .searchWrap .searchTable tr:last-child th {
        border-bottom: 1px solid #ffffff;
    }

    .searchWrap .searchTable tr:last-child th:nth-child(3), .moBorderNone {
        border-bottom: none !important;
    }

    .searchWrap .srch_word {
        width: 100%;
    }


}

@media screen and (max-width: 1730px) {
    .product-table {
        min-width: 1400px;
    }
}

@media screen and (max-width: 1640px) {

}


@media screen and (max-width: 1630px) {
    #wrapper .contWrap {
        padding: 0 12px 30px;
    }

    .write .wr_box table.row_line,
    .write .wr_box table.row_line tbody,
    .write .wr_box table.row_line tr {
        display: block;
        width: 100%;
        background-color: #f9f9f9;
    }

    .write .wr_box table.row_line tr:after {
        content: "";
        display: block;
        clear: both;
    }

    .write .wr_box table.row_line th {
        display: block;
        float: left;
        width: 18%;
        min-height: 46px;
        line-height: 44px;
        padding: 0 15px;
        border-top: 1px solid #e3e3e3;
        border-bottom: none;
    }

    .write .wr_box table.row_line tr:first-of-type th:first-of-type {
        border-top: none;
    }

    .write .wr_box table.row_line td {
        display: block;
        float: left;
        width: 82%;
        min-height: 46px;
        height: 100%;
        border-top: 1px solid #e3e3e3;
        border-bottom: none;
        line-height: 2;
        background-color: #fff;
    }

    .write .wr_box table.row_line tr:first-of-type td:first-of-type {
        border-top: none;
    }

    .write .wr_box table td input[type="text"],
    .write .wr_box table td input[type="password"] {
        height: 32px;
    }

    .list .gallery > ul > li {
        width: 18%;
    }

    .popup .tbl_area .tbl_box {
		min-width: auto;
    }

    #bodyWrap {
        min-width: 1780px;
    }
}

/*@media screen and (max-width: 1200px){*/
/*	.mediaQuery{display:none;}*/
/*	!* #wrapper{height:calc(100% - 110px); padding-left:0 !important;} *!*/
/*	#wrapper{height:calc(100% - 110px); height:-webkit-calc(100% - 110px) ;  height:-moz-calc(100% - 110px); padding-left:0 !important;}*/

/*	.tabWrap{padding:10px 10px 0;}*/
/*	.tabWrap .tab .tab-button-next,*/
/*	.tabWrap .tab .tab-button-prev{display:none;}*/
/*	.tabWrap .tab{width:100%;}*/

/*	.titWrap{padding-top:30px;}*/

/*	.searchWrap{margin-top:9px;}*/

/*	.list .list_tit{padding-top:35px;}*/
/*	.list form{overflow-x:auto;}*/
/*	.list form table{min-width:1200px;}*/

/*	.dash_list form table{display:block; width:100%; min-width:unset;}*/
/*	.dash_list form table tbody,*/
/*	.dash_list form table tr{display:block; width:100%; border-top:none; background-color:#f9f9f9;}*/
/*	!* .dash_list form table tr:hover{background:#fff;} *!*/
/*	.dash_list form table tr:after{content:""; display:block; clear:both;}*/

/*	.dash_list form table th{float:left; width:18%; padding:5px 10px; min-height:44px; line-height:42px; border-left:none; border-top:1px solid #e3e3e3;}*/
/*	.dash_list form table tr:first-of-type th:first-of-type{border-top:none;}*/
/*	.dash_list form table th:first-of-type{border-right:none;}*/
/*	.dash_list form table th:hover + td{background-color:#f9f9f9;}*/
/*	.dash_list form table td{float:left; width:82%; min-height:42px; line-height:32px; border-top:1px solid #e3e3e3; background-color:#fff;}*/
/*	.dash_list form table td:hover{background-color:#f9f9f9;}*/

/*	.dash_list form table tr:first-of-type td:first-of-type{border-top:none;}*/
/*	.dash_list form table td:first-of-type{border-left:1px solid #e3e3e3;}*/

/*	.dashboard .boardWrap .listWrap{width:100%; margin-left:0;}*/
/*	.dashboard .boardWrap .list{float:none; width:100%; margin-left:0; min-height:unset;}*/
/*	.dashboard .boardWrap .list form table{min-width:unset;}*/

/*	.list .gallery > ul > li{width:23%;}*/

/*	!* 차트 *!*/
/*	.eachResult > div {float:none; width:100%; height:400px;}*/
/*	.browser_list .row > form{float:none; width:100%;}*/
/*	.browser_list .row > .chart_browser{float:none; width:100%;}*/
/*	.map_country{height:400px;}*/
/*	.chartWrap{width:100%;}*/
/*}*/

/*@media screen and (max-width: 960px){*/
/*	.list .gallery > ul > li{width:31.3333%;}*/
/*}*/
/*@media screen and (max-width: 768px){*/
/*	.mo{display:block;}*/
/*	.pcta{display: none;}*/
/*}*/
/*@media screen and (max-width: 640px){*/
/*	.header{padding:0 12px; height:90px; line-height:90px;}*/
/*	.header .moBtn{margin-top:-30px;}*/
/*	.header .logout .mo{margin-top:-30px;}*/
/*	.header .moBtn a{width:60px; height:60px; line-height: 74px;}*/
/*	.header .logout .mo a{width:60px; height:60px; line-height: 74px;}*/
/*	.header a span.material-icons{font-size:32px;}*/
/*	.loginWrap .login {max-width:580px; padding:55px 40px;}*/
/*	#main-nav .gnb > li > a{font-size:24px; padding:20px;}*/
/*	#main-nav .gnb > li > ul > li > a.menu{font-size:20px; padding:15px;}*/
/*	#main-nav .gnb > li > a > span.icon{padding-right:15px; font-size:35px;}*/
/*	#main-nav .gnb > li > a > span.arrow{line-height:30px;}*/
/*	#main-nav .gnb > li > ul > li > a.menu:before{top:25px;}*/
/*}*/