<!doctype html>
<html lang="kr" class="semi-dark">
<head th:replace="~{admin/includes/head.html}">
<body>
<!--wrapper-->
<div id="bodyWrap">
	<th:block th:insert="~{admin/includes/header.html}"/>
	<div id="sub" class="">
		<div class="sub_visual">
			<div class="sub_tit">
				<h2>
					<th:block th:text="${cm.title}"></th:block>
				</h2>
			</div>
		</div>
		<div class="sec_wrap">
			<div class="section section1">
				<div class="inner">
					<div class="board">
						<form th:action="${cm.link + '/update'}" method="post" enctype="multipart/form-data" autocomplete="off">
							<input type="hidden" name="idx" th:value="${data.idx}">
							<div class="tbl_area">
								<div class="tbl_wrap tbl_wrap1">
									<div class="tit_box">
										<h3 class="sTit">등록정보</h3>
									</div>
									<div class="tbl_box tbl_box2">
										<table class="row_line">
											<caption>등록정보</caption>
											<colgroup>
												<col width="8.4%">
												<col width="40%">
												<col width="8.4%">
												<col width="40%">
											</colgroup>
											<tbody>
											<tr>
												<th>활성화 여부<span class="required">*</span></th>
												<td>
													<div class="radio_box">
														<input type="radio" name="mv_status" id="status_activated" value="activated" th:checked="${'ACTIVATED' eq data.status.toString()}">
														<label for="status_activated">활성화</label>
													</div>
													<div class="radio_box ml17">
														<input type="radio" name="mv_status" id="status_paused" value="paused" th:checked="${'PAUSED' eq data.status.toString()}">
														<label for="status_paused">비활성화</label>
													</div>
												</td>
												<th><label for="sort">노출순서<span class="required">*</span></label></th>
												<td>
													<input type="text" name="sort" id="sort" class="max200" th:value="${data.sort}">
												</td>
											</tr>
											</tbody>
										</table>
									</div>
								</div>
								<div class="tbl_wrap tbl_wrap1">
									<div class="tit_box">
										<h3 class="sTit">비주얼 정보</h3>
									</div>
									<div class="tbl_box tbl_box2">
										<table class="row_line">
											<caption>비주얼 정보</caption>
											<colgroup>
												<col width="8.7%">
												<col width="*">
											</colgroup>
											<tbody>
											<tr>
												<th><label for="title">메인타이틀<span class="required">*</span></label></th>
												<td colspan="3">
													<input type="text" name="title" id="title" th:value="${data.title}">
												</td>
											</tr>
											<tr>
												<th><label for="image_file">비주얼 이미지<span class="required">*</span></label></th>
												<td colspan="3">
													<input type="file" name="image_file" id="image_file">
													<p class="mt5">(jpg, png, jpeg 만 파일 등록가능) 10Mb (권장사이즈 : 390*390px) </p>
												</td>
											</tr>
											<tr>
												<th>
													<label for="url">자세히 보기 URL<span class="required">*</span></label>
												</th>
												<td colspan="3">
													<input type="text" name="url" id="url" th:value="${data.url}">
												</td>
											</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
							<div class="btnSet flex-box gap-10 justify-content-center mt30">
                                <button type="submit" class="btn main_bg btn-save">저장</button>
                                <a th:href="${cm.link}" class="btn border_bg btn-cancel">취소</a>
                            </div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<th:block th:insert="~{admin/includes/footer.html}"/>
</div>
<script th:inline="javascript">

	const data = /*[[${data}]]*/ null;

	let form = $("form");

	$("#image_file").preview({
		max_size: 500,
		default_image: data?.file?.url,
		label: data?.file?.name
	});

	$("input[name='mv_status']").addValidation({
		cases: {
			"활성화 여부를 선택해주세요.": (value) => !value
		},
		defaultvalue: data?.status
	});
	$("#sort").addValidation({
		regex: SGValidateType.NUMBER,
		cases: {
			"노출순서를 입력해주세요.": (value) => !value.length,
		}
	});
	$("#title").addValidation({
		cases: {
			"메인타이틀을 입력해주세요.": (value) => !value.length
		},
		maxlength: 100
	});
	$("#image_file").addValidation({
		regex: SGValidateType.FILE,
		cases: {
			"비주얼 이미지를 선택해주세요.": (files) => !files.length,
			"파일을 10MB 이하로 넣어주세요.": (files) => !fileMaxSizeCheck(10, files)
		},
		fileoptions: {
			types: [FileType.IMAGES],
			maxsize: 10,
			autoempty: true
		}
	})
	$("#url").addValidation({
		regex: SGValidateType.URL,
		cases: {
			"자세히 보기 URL을 입력해주세요.": (value) => !value.length,
			"자세히 보기 URL을 정확히 입력해주세요.": (value, regex) => !regex.test(value)
		}
	});

	form.submit(function() {
		if(form.isValidate()) {
			SGProcess({
				title: "메인비주얼을 저장중입니다...",
			});
			this.submit();
		}
	});
</script>
</body>
</html>