<!doctype html>
<html lang="kr" class="semi-dark">
<head th:replace="~{admin/includes/head.html}">
<body>
<!--wrapper-->
<div id="bodyWrap">
	<th:block th:insert="~{admin/includes/header.html}"/>
	<div id="sub" class="">
		<div class="sub_visual">
			<div class="sub_tit">
				<h2>
					<th:block th:text="${cm.title}"></th:block>
				</h2>
			</div>
		</div>
		<div class="sec_wrap">
			<div class="section section1">
				<div class="inner">
					<div class="board">
						<form th:action="${cm.link + '/update'}" method="post" enctype="multipart/form-data" autocomplete="off">
							<input type="hidden" name="idx" th:value="${data.idx}">
							<div class="tbl_area">
								<div class="tbl_wrap tbl_wrap1">
									<div class="tit_box">
										<h3 class="sTit">등록정보</h3>
									</div>
									<div class="tbl_box tbl_box2">
										<table class="row_line">
											<caption>등록정보</caption>
											<colgroup>
												<col width="8.4%">
												<col width="40%">
												<col width="8.4%">
												<col width="40%">
											</colgroup>
											<tbody>
											<tr>
												<th>회원권한</th>
												<td th:text="${data.authorization?.name}"></td>
												<th><label for="sort">노출순서<span class="required">*</span></label></th>
												<td>
													<input type="text" name="sort" id="sort" class="max200" th:value="${data.sort}">
												</td>
											</tr>
											<tr>
												<th>활성화 여부<span class="required">*</span></th>
												<td colspan="3">
													<div class="radio_box">
														<input type="radio" name="mv_status" id="status_activated" value="activated" th:checked="${'ACTIVATED' eq data.status.toString()}">
														<label for="status_activated">활성화</label>
													</div>
													<div class="radio_box ml17">
														<input type="radio" name="mv_status" id="status_paused" value="paused" th:checked="${'PAUSED' eq data.status.toString()}">
														<label for="status_paused">비활성화</label>
													</div>
												</td>
											</tr>
											</tbody>
										</table>
									</div>
								</div>
								<div class="tbl_wrap tbl_wrap1">
									<div class="tit_box">
										<h3 class="sTit">비주얼 정보</h3>
									</div>
									<div class="tbl_box tbl_box2">
										<table class="row_line">
											<caption>비주얼 정보</caption>
											<colgroup>
												<col width="8.7%">
												<col width="*">
											</colgroup>
											<tbody>
											<tr>
												<th><label for="title">메인타이틀<span class="required">*</span></label></th>
												<td colspan="3">
													<input type="text" name="title" id="title" th:value="${data.title}">
												</td>
											</tr>
											<tr>
												<th><label for="image_file">비주얼 이미지<span class="required">*</span></label></th>
												<td colspan="3">
													<input type="file" name="image_file" id="image_file">
													<p class="mt5">(jpg, png, jpeg 만 파일 등록가능) 10Mb (권장사이즈 : 390*390px) </p>
												</td>
											</tr>
											<tr>
												<th>
													<label for="url">자세히 보기 URL<span class="required">*</span></label>
												</th>
												<td colspan="3">
													<input type="text" name="url" id="url" th:value="${data.url}">
												</td>
											</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
							<div class="btnSet flex-box gap-10 justify-content-center mt30">
                                <button type="submit" class="btn main_bg btn-save">저장</button>
                                <a th:href="${cm.link}" class="btn border_bg btn-cancel">취소</a>
                            </div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<th:block th:insert="~{admin/includes/footer.html}"/>
</div>
<script th:inline="javascript">

	const data = /*[[${data}]]*/ null;

	let form = $("form");

	$("#image_file").preview({
		default_image: data?.file?.url,
		label: data?.file?.name,
		max_size: 500
	});
	$("#sort").setValidate(form, {
		label: "순서",
		maxLength: 11,
		required: false,
		type: SGValidateType.NUMBER
	});
	$("#title").setValidate(form, {
		label: "제목",
		minLength: 1,
		maxLength: 100
	});
	$("#image_file").setValidate(form, {
		label: "배너 이미지",
		required: data?.file?.idx == null,
		type: SGValidateType.FILE
	})
	$("#url").setValidate(form, {
		type: SGValidateType.URL,
		label: "자세히 보기 URL",
		minLength: 1,
	});

	form.on("submit", function(event) {
		if(form.isValidate()) {
			SGConfirm({
				title: "메인비주얼 항목을 저장하시겠습니까?",
				onsuccess: (res) => {
					if(res) {
						SGProcess({
							title: "메인비주얼을 저장중입니다...",
						});
						this.submit();
					}
				}
			});
		}
		event.preventDefault();
	});
</script>
</body>
</html>