<!DOCTYPE html>
<html lang="kr" class="semi-dark">
<head th:replace="~{admin/includes/head.html}">
</head>
<body>
<div id="point-popup" class="popup" data-open-type="normal" style="display: block;">
    <div class="popup-inner lined">
        <div class="popup-cont">
            <div class="pop-tit flex-box justify-content-between mb30 align-items-end">
                <h2>
                    <th:block th:text="${member?.name}"></th:block>
                    회원님의 포인트 내역입니다.</h2>
                <a href="javascript:;" class="btn border222 excel-btn"><img src="/admin/images/ico_download.svg" width="14">엑셀
                    다운로드</a>
            </div>
            <div class="flex-box gap-10">
                <div class="blue-box">
                    <p>보유포인트</p>
                    <p><span th:text="${#numbers.formatInteger(remains_point, 1, 'COMMA')}"></span>원</p>
                </div>
                <div class="blue-box">
                    <p>소멸예정포인트 (30일 이내)</p>
                    <p><span th:text="${#numbers.formatInteger(expire_point, 1, 'COMMA')}"></span>원</p>
                </div>
            </div>
            <form id="searchForm">
                <input type="hidden" name="p" id="page">
                <div class="tbl_area mt30">
                    <div class="tbl_box tbl_box2">
                        <table>
                            <caption>목록</caption>
                            <colgroup>
                                <col width="160px">
                                <col width="*">
                            </colgroup>
                            <tbody>
                            <tr>
                                <th>검색필터</th>
                                <td>
                                    <div class="flex-box gap-5">
                                        <div class="calendar_wrap clear flex-box gap-5 align-items-center">
                                            <p class="calendar">
                                                <input type="text" class="input datepicker" name="sd"
                                                       readonly="readonly" th:value="${param.sd}">
                                                <span class="calendar_ico"><img
                                                        src="/admin/images/ico_calendar.svg"></span>
                                            </p>
                                            <span>~</span>
                                            <p class="calendar">
                                                <input type="text" class="input datepicker" name="ed"
                                                       readonly="readonly" th:value="${param.ed}">
                                                <span class="calendar_ico"><img
                                                        src="/admin/images/ico_calendar.svg"></span>
                                            </p>
                                        </div>
                                        <select class="select_drop max200" name="st">
                                            <option value="">유형</option>
                                            <option th:each="row:${statuses}" th:text="${row.toHtml()}" th:value="${row.getValue()}" th:selected="${param?.c?.toString() eq row.getValue()}"></option>
                                        </select>
                                        <div class="flex-box gap-5">
                                            <input type="submit" value="검색" class="btn_search main_bg btn">
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="flex-box justify-content-between align-items-center tit-area">
                        <h3>포인트내역</h3>
                        <button type="button" class="btn btn-primary" onclick="openPopup('#point_apply_add', 'normal')">포인트 추가 적용</button>
                    </div>
                    <div class="tbl_box tbl_box3 mt0">
                        <div class="table_wrap">
                            <table>
                                <caption>목록</caption>
                                <colgroup>
                                    <col width="70px">
                                    <col width="80px">
                                    <col width="*">
                                    <col width="20%">
                                    <col width="13%">
                                </colgroup>
                                <thead>
                                <tr>
                                    <th>No</th>
                                    <th>유형</th>
                                    <th>내용</th>
                                    <th>액수</th>
                                    <th>발생일시</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:if="${data.count eq 0}">
                                    <td colspan="5">포인트내역이 없습니다.</td>
                                </tr>
                                <tr th:unless="${data.count eq 0}" th:each="row: ${data.list}">
                                    <td th:text="${row.row_num}"></td>
                                    <td th:class="${row.status.toClass()}" th:text="${row.status.toHtml()}"></td>
                                    <td th:text="${row.description}"></td>
                                    <td th:if="${row.status.isMinus()}" class="txt-red txt-r">- <th:block th:text="${row.getValue()}"></th:block> 원</td>
                                    <td th:unless="${row.status.isMinus()}" class="txt-blue txt-r">+ <th:block th:text="${row.getValue()}"></th:block> 원</td>
                                    <td th:text="${#dates.format(row.created_at, 'yyyy.MM.dd')}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </form>
            <th:block th:insert="~{admin/includes/page_nation.html}"></th:block>
        </div>
    </div>
</div>
<th:block th:insert="~{admin/member/point/popup/point_apply_add.html}"/>
<script src="/admin/js/common.js"></script>
<script src="/admin/js/index.js"></script>
<script th:inline="javascript">

    const msg = /*[[${msg}]]*/ null;
    const err = /*[[${err}]]*/ null;

    if(msg) alert(msg);
    if(err) alert(err);

    $(document).ready(function(){
        $('select').niceSelect();
    });

</script>
</body>
</html>